<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>edit task</h1>
    <%= link_to "â†©ï¸", tasks_path, class: 'btn btn-light' %>
  </div>

  <% if @task.errors.any? %>
    <% @task.errors.full_messages.each do |message| %>
      <p class='text-danger'><%= message %></p>
    <% end %>
  <% end %>

  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.label @task.completed ? "done!" : "done?" %>
    <%= f.check_box :completed %>
    <%= f.submit class: 'container btn btn-primary w-25 mt-3 text-center'%>
  <% end %>
</div>
